.wy-side-scroll {
    /* background-color:#b3d9ff; */
    background:white;
}

.wy-menu-vertical a{
    color:black;
}

/* .toctree-l1 .current > a.reference.internal.current{ */
/* 		background:#2980B9; */
/* } */

/* .wy-menu-vertical li.current, .wy-menu-vertical li.toctree-l2.current > a, li.toctree-l3>a{ */
/* background: #202020; */
/* } */

.rst-versions .rst-current-version{
    background-color:#2980B9;
}

p{
    font-size:16px;
}

.rst-content pre, .rst-content pre code{
    font-size:90%;
    font-family: Iosevka Web;
}

.rst-content code{
    font-size:100%;
    font-family: Iosevka Web;
    border:none;
    padding:0;
}

.hljs-comment{
    font-style:normal;
}

.rst-content .section li>ul{
    margin-top:0;
    margin-bottom:0;
}
